<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.energylabel.fastrecord.dao.EcMarkingKzTitleDao">

	<delete id="delByMarkingId" parameterType="int">
		delete from ec_marking_kz_title t where t.ec_marking_id = #{ec_marking_id}
	</delete>
	
	<insert id="insertMarkingKztitle" parameterType="EcMarkingKzTitle">
		insert into ec_marking_kz_title
		(ec_marking_id,ec_marking_kz_title
		)values(
		#{ec_marking_id},#{ec_marking_kz_title}
		)
	</insert>
</mapper>