<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.energylabel.fastrecord.dao.EcMasterDAO">
	<resultMap id="EcMasterMap" type="EcMaster">
		<result column="ec_master_id" property="ec_master_id" jdbcType="INTEGER" />
		<result column="ec_master_chang" property="ec_master_chang" jdbcType="VARCHAR" />
		<result column="ec_master_userid" property="ec_master_userid" jdbcType="INTEGER" />
		<result column="ec_master_addtime" property="ec_master_addtime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP"/>
		<result column="ec_marking_count" property="ec_marking_count" jdbcType="INTEGER" />
		<result column="ec_model_no" property="ec_model_no" jdbcType="INTEGER" />
		<result column="ec_master_name" property="ec_master_name" jdbcType="VARCHAR" />
		<result column="ec_master_parentid" property="ec_master_parentid" jdbcType="INTEGER" />
		<result column="ec_master_biangeng_text" property="ec_master_biangeng_text" jdbcType="VARCHAR" />
		<result column="ec_master_kuozhan_text" property="ec_master_kuozhan_text" jdbcType="VARCHAR" />
		<result column="ec_master_bgkz_main_bulletin" property="ec_master_bgkz_main_bulletin" jdbcType="INTEGER" />
	</resultMap>

	<!-- 新增备案表Ec_marking的数据存储 -->
	<insert id="insertEcMaster" parameterType="EcMaster">
		insert
		into ec_master(
		ec_master_id,ec_master_chang,ec_master_userid,ec_master_addtime,ec_marking_count,ec_model_no,ec_master_name,
		ec_master_bgkz_main_bulletin,ec_master_biangeng_text,ec_master_kuozhan_text,ec_master_parentid
		)values(
		#{ec_master_id,jdbcType=INTEGER},#{ec_master_chang,jdbcType=VARCHAR},#{ec_master_userid,jdbcType=INTEGER},
		#{ec_master_addtime,jdbcType=DATE},#{ec_marking_count,jdbcType=INTEGER},#{ec_model_no,jdbcType=INTEGER},
		#{ec_master_name,jdbcType=VARCHAR},#{ec_master_bgkz_main_bulletin,jdbcType=INTEGER},#{ec_master_biangeng_text,jdbcType=VARCHAR},
		#{ec_master_kuozhan_text,jdbcType=VARCHAR},#{ec_master_parentid,jdbcType=INTEGER}
		)
	</insert>
	
	<select id="getEcMasterByMarkingId" resultMap="EcMasterMap" parameterType="map">
		select t.* from ec_master t 
		left join ec_marking m on m.ec_master_id = t.ec_master_id
		where m.ec_marking_id=#{ec_marking_id} limit 1
	</select>
	
	<select id="countChildEcMaster" resultType="int" parameterType="map">
		select count(*) from ec_master t 
		left join ec_marking m on m.ec_master_id = t.ec_master_parentid
		where m.ec_marking_id=#{ec_marking_id}
		<if test="ec_master_chang != null">
			<choose>
				<when test='ec_master_chang == "2"'>
					and t.ec_master_chang in ('2','3')
				</when>
				<otherwise>
					and t.ec_master_chang = #{ec_master_chang}	
				</otherwise>
			</choose>
		</if>
	</select>
	
	<update id="updateEcMaster" parameterType="EcMaster">
		update ec_master set 
		ec_model_no=#{ec_model_no},
		ec_master_name=#{ec_master_name}
		where ec_master_id=#{ec_master_id}
	</update>
</mapper>