<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 引入配置文件 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config/properties/jdbc.properties</value>
				<value>classpath:config/properties/sys_config.properties</value>
			</list>
		</property>
	</bean>

	<!-- 扫描文件（自动将servicec层注入） -->
	<context:component-scan
		base-package="com.hitworth.framework.base.service" />
	<context:component-scan
		base-package="com.hitworth.framework.base.security" />
	<context:component-scan
		base-package="com.energylabel.fastrecord.service" />
	<context:component-scan
		base-package="com.energylabel.lab.service" />

	<import resource="classpath*:/config/spring/spring-jcaptcha.xml" />
	<import resource="classpath*:/config/spring/spring-mybatis.xml" />
	<import resource="classpath*:/config/spring/spring-security.xml" />
	<import resource="classpath*:/config/spring/spring-oss.xml" />
	<import
		resource="classpath*:/config_pro/spring-mns-topic-publish.xml" />
</beans>
