<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="ossClient" class="com.aliyun.oss.OSSClient">
		<!-- endpoint -->
		<constructor-arg index="0"
			value="oss-cn-beijing.aliyuncs.com" />
		<!-- ACCESS_ID -->
		<constructor-arg index="1" value="LTAIflBgR0qpL2lD" />
		<!-- ACCESS_KEY -->
		<constructor-arg index="2"
			value="I7v4hQmx3KhtaniVQi0S1OY0eCFMCK" />
	</bean>

	<bean id="ossCommonClient"
		class="com.energylabel.fastrecord.util.OssCommonClient">
		<property name="client" ref="ossClient" />
		<property name="bucketName"
			value="pro-static-resources" />
		<property name="env" value="pro" />
	</bean>
</beans>