@charset "UTF-8";

#pageStyle #table4  .ivu-form-item-content{
  display: flex;
}

#pageStyle h1 {
  font-size: 20px;
}

#pageStyle h2 {
  font-size: 18px;
  margin: 10px 0;
}

#pageStyle .part {
  background: #eee;
  padding: 15px;
  margin: 15px 0;
}

#pageStyle .lookPdf{
  margin: 40px auto;
  display: block;
  border: 1px solid #ccc;
}

#pageStyle .part1 p {
  text-indent: 2em;
  font-size: 16px;
  line-height: 36px;
}

#pageStyle table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

#pageStyle table th {
  background-color: rgb(245, 245, 246);
}

#pageStyle table td, #pageStyle table th {
  border: 1px solid #dddee1;
  padding: 10px;
}

#pageStyle table tr .t_label {
  padding-right:5px;
  text-align:right;
}

#pageStyle .part6 td > div {
  margin-bottom: 5px;
}

#pageStyle .part6 td span {
  display: inline-block;
  width: 100px;
  text-align: center;
}

#pageStyle .tc {
  text-align: center;
}

#pageStyle .part8 td {
  text-align: center;
}

#pageStyle .red {
  color: red;
  margin-right: 5px;
}

#pageStyle #table1 td, #pageStyle #table2 td, #pageStyle #table3 td, #pageStyle #table4 td {
  padding: 20px 10px;
}

#table1 .ivu-form-item, #pageStyle #table2 .ivu-form-item, #pageStyle #table3 .ivu-form-item, #pageStyle #table4 .ivu-form-item, #pageStyle #table5 .ivu-form-item {
  margin-bottom: 0 !important;
}

#table2 .ivu-form-item, #pageStyle #table3 .ivu-form-item, #pageStyle #table4 .ivu-form-item, #pageStyle #table5 .ivu-form-item {
  display: inline-block;
}

#pageStyle .ivu-icon-ios-help-circle-outline {
  position: absolute;
  top: -8px;
  right: -2px;
  display: none;
}

#pageStyle .ivu-icon-ios-help-circle-outline:before {
  content: "\F446";
}

#pageStyle .diffList {
  margin: 20px 0;
}

#pageStyle .diffList table {
  width: 100%;
}

#pageStyle .lookOver {
  margin-bottom: 10px;
}

#pageStyle .org, #pageStyle .basic-info dl {
  font-size: 16px;
}

#pageStyle .basic-info .valid {
  width: 100%;
  margin: 10px 0;
}

#pageStyle .textarea-annotation, #pageStyle .color-red {
  font-weight: normal;
  font-size: 14px;
}

#pageStyle .color-red {
  color: red;
}

.pro-info, .basic-info .record-number {
  height: auto;
  line-height: 40px;
}

#pageStyle .basic-info span[class^="f-"],.pro-info span[class^="f-"] {
  font-weight: bold;
  padding: 0px 5px;
}

#pageStyle .application {
  margin: 10px 0;
}

#pageStyle .w70 {
  height: 52px;
}

